/* This is where Tailwind is imported so it can be accesses in all components */
@import "tailwindcss";

/*  
    :root targets the <html> tag so the variables --background and --foreground are available globally
    You can use these variables in CSS using var(--background) and var(--foreground)
    To use these variables in a Tailwind class you would put [] around the variable like this: [var(--background)] 
*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* This specifies different --background and --foreground variables if the browser is in dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Set the background and foreground colors for the entire site as well as the default fonts */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}